<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Carpinteria Artesanal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarpinteriaArtesanal.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="~/scss/site.css" rel="stylesheet" />

</head>
<body>

   <header>
    <nav class="navegacion navbar navbar-expand-lg   ">
        <div class="container-fluid ">
               
                <div class="icono p-0 m-0 ">
                   <a href="#">
                        <img src="~/img/logo2.png" width="70px" />
                   </a> 
                </div>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"  >
                    <span class="navbar-toggler-icon "></span>
                </button>
                <div class="navbar-collapse collapse justify-content-between">
                    
                    <ul class="nav-scss  navbar-nav d-flex align-items-center justify-content-center ms-5">
                        <li class="item-scss nav-item ">
                            <a href="#" class="link-scss nav-link ">
                                <i class="fa-solid fa-house"></i>
                                Inicio
                            </a>
                        </li>
                        <li class="item-scss nav-item ">
                            <a href="#" class="link-scss nav-link ">
                                <i class="fa-solid fa-hammer me-2"></i>
                                Nuestros Trabajos
                            </a>
                        </li>
                        <li class="item-scss nav-item">
                            <a href="#" class="link-scss nav-link">
                                Productos
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                        </li>
                        <li class="item-scss nav-item">
                            <a href="#" class="link-scss nav-link">
                                <i class="fa-solid fa-warehouse me-2"></i>
                                Sobre Nosotros
                            </a>
                        </li>
                     
                        <li class="item-scss nav-item">
                            <a href="#" class="link-scss nav-link">
                                <i class="fa-solid fa-user-group"></i>
                                Conocenos
                            </a>
                        </li>

                    </ul>

                   

                    
                    <button class="boton me-5 btn btn-primary">
                        <i class="fa-regular fa-user"></i> Contacto
                    </button>
                </div>
             
        </div>
            <div class="buscador me-4 ">
                <input type="text" placeholder="Busca algun producto..." />


            </div>
            <button class="boton btn btn-primary border-3  rounded-5 me-3 ">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
    </nav>
   </header>



    <section class="portada  text-dark">
        <div class="container">

            <div class="row align-items-center justify-content-center">

                <div class="col col-12 col-md-10  g-3">
                    <h1 class="titulo fw-bold display-2   text-center mb-5">Bienvenido a Raices Carpinteria</h1>

                </div>

            </div>

        </div>
        <button class="boton btn btn-success w-25 border rounded-3">
            Ver Productos
        </button>


    </section>

    <br />


   


    <main role="main" class="pb-3">
            @RenderBody()
        </main>
   
    <footer class="footer">

        <div class="contenido-footer">
            <ul>
                <li><a>Estado del pedido</a></li>
                <li><a>Metodos de pago</a></li>
                <li><a>Devoluciones</a></li>
                <li><a>Politicas de Privacidad</a></li>
                <li><a>Trabaja con nosotros</a></li>
            </ul>
        </div>

        <div class="iconosredes m-3">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>           
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>

        <p class="text-white">Hecho por Rolando brandan - Yamil Javier Cordoba - Juan Melgar - ISSCO 2026</p>
        </div>

        <div class="contenido-footer">
            <ul>
                <li><a href="#"><i class="fa-solid fa-location-dot"></i></a>Córdoba, Argentina</li>
                <li><a href="#"><i class="fa-solid fa-phone"></i></a>+54 9 351123456</li>
                <li><a href="#"><i class="fa-solid fa-envelope"></i></a>raicescarpinteria@gmail.com</li>
            </ul>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
