//variables colores
$color-primario: #F7F6F2;
$color-secundario: #2D2D2D;
$color-madera-detalle: #8B5E34;
$color-verde-detalle: #4A5D4E;
$verde-menta: #A3B899;
$facebook: #1877F2;
$WHATSAPP:#25D366;
$INSTAGRAM:#E1306C;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main[role="main"] {
    flex: 1 0 auto;
}

.titulo {
    color: $color-primario;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}



.portada {
    display: flex;
    flex-direction: column;
    padding: 80px;
    background-image: url('../img/carpinteriafinal.png');
    background-size:cover;
    
    align-items: center;
    
   

    .container {
        padding: 50px;
    }

    .boton {
        background-color: $color-madera-detalle;
        font-weight: bold;
        color: $color-secundario;
    }

    .boton:hover {
        background-color: $color-verde-detalle;
        color: $color-primario;
    }
}


.navegacion {
    background-color: $color-secundario !important;

    .container-fluid {
        .icono {
            img {
                width: 60px;
                height: auto;
            }
        }

        .nav-scss {
            .item-scss {
                display: flex;
                padding: 10px 15px;

                .link-scss.nav-link {
                    transition: 300ms;
                    color: $color-primario !important;

                    &:hover {
                        color: $verde-menta !important;
                    }
                }
            }
        }

        .boton {
            background-color: $color-madera-detalle !important;
            color: $color-primario !important;
            transition: 300ms;

            &:hover {
                background-color: $verde-menta !important;
            }
        }
    }

    .buscador {
        input {
            border:1px solid gray;
            border-radius: 20px;
            padding: 6px 15px;
         
            
        }
    }

    > .boton {
        background-color: $color-madera-detalle !important;
        color: $color-primario !important;

        &:hover {
            background-color: $verde-menta !important;
           
        }
    }
}

.estadistica
{
    .contenedor{
        .celda{
           text-align:center;
          
        }
        .tarjeta{
            border:1px solid gray;
            border-radius:8px;
          border-color:$verde-menta;
          padding:20px;
          box-shadow:0 4px 8px rgba(0,0,0,0.1);
          transition:300ms;

          &:hover
              {
              transform:translateY(-10px);
          }
        }
       
    }
}

// footer


.footer {
    flex-shrink: 0;
    position: relative !important;
    bottom: auto !important;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    text-align: center;
    gap: 45px;
    background-color: $color-secundario;
    width: 100%;

    .iconosredes {
        a {
            border: 1px solid gray;
            border-radius: 40px;
            margin: 5px;
            padding: 20px;
            color: $verde-menta;

            i {
                font-size: 20px;
                font-weight: bold;
            }
        }

        a:hover {
            transition: 0.3s;
            color: $color-verde-detalle;
            background-color: $color-primario;
        }
    }

    .iconosredes {
        a:nth-child(1) {
            color: $INSTAGRAM;
        }

        a:nth-child(2) {
            color: $WHATSAPP;
        }

        a:nth-child(3) {
            color: $facebook;
        }
    }

    .contenido-footer {
        display: flex;
        flex-direction: column;
        color: $color-primario;
        height: 100%;
        text-align: start;
        font-size: 13px;

        ul {


            li {
                list-style: none;
                text-decoration: none;
                line-height: 3.0;

                a {
                    cursor: pointer;

                    i {
                        color: $color-madera-detalle;
                        padding: 7px;
                    }
                }

                a:hover {
                    color: $color-verde-detalle;
                    transition: 0.3s;
                }
            }
        }
    }
}

// Contacto 

.formulario {
   margin-left:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    .imagenformulario {
        img {
            width: 100px;
            margin: 20px;
        }
    }

    .labelusuario {
        text-transform: uppercase;
        text-decoration: underline;
        margin: 9px;
    }

    #txtUsuario {
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        border-radius: 90px;
        padding: 5px;
    }

    .labelcontra {
        text-transform: uppercase;
        text-decoration: underline;
        margin: 9px;
    }

    #txtContra {
        display: flex;
        border: 1px solid gray;
        border-radius: 90px;
        padding: 5px;
    }

    .Notas {
        text-transform: uppercase;
        text-decoration: underline;
        margin: 10px;
    }

    #txtNotas {
        border: 1px solid gray;
        border-radius: 10px;
        width: 200px;
        padding: 5px;
    }

    .imgcliente
        {
        width:800px;
        height:600px;
    }
}
