//variables colores
$color-primario: #F7F6F2;
$color-secundario: #2D2D2D;
$color-madera-detalle: #8B5E34;
$color-verde-detalle: #4A5D4E;


.titulo {
    color: $color-primario;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}

.portada{
    display: flex;
    flex-direction: column;
    padding:40px;
    justify-content: center;

    .container{
        padding: 50px;
    }

    .boton {
        background-color: $color-madera-detalle;
        font-weight: bold;
        color: $color-secundario;
        
    }
    .boton:hover{
        background-color: $color-verde-detalle;
        color: $color-primario;
    }
}
