<section class="portada  text-dark">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col col-12 col-md-10  g-3">
                <h1 class="titulo fw-bold display-2   text-center mb-5">Bienvenido a Raices carpinteria</h1>
                
            </div>
            <button class="boton btn btn-success w-25 border rounded-3">
                Ver catalogo
            </button>
        </div>
    
    </div>
</section>

<br />
