<section class="info-container">

    <div class="info">
        <h1>Informacion corporativa</h1>
        <p>Conoce la estructura, los propósitos y el equipo profesional que impulsa nuestra visión día a día.</p>
    </div>

    <div class="info-img">

    </div>
</section>