:root {
    --colorprimario: black;
   
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family:sans-serif;
 
}

.nav-item
{
    display:flex;
  
    margin:10px;
    padding:10px;
   
    
}
.nav-link
{
    color:white;
    transition:300ms;
}
.nav-link:hover
{
    text-decoration:underline;
    color:var(--text-dark) !important;
}


.boton
{
    transition:300ms;

}
    .boton:hover {
        color: var(--text-dark) !important;
    }
hr
{
    border:1px solid gray;
}